
#navbar{
    z-index: 100;
    width: 100vw;
    position: fixed;
    display: flex;
    bottom: 0;
    min-height: 50px;
    max-height: 50px;
    background-color: #fefefe;
    border-top: solid 0.5px #bebebe;
}
#nav{
    width: 100vw;
    justify-content: space-evenly;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-left: -20px;
}
li{
    width: 19vw;
}
.navbarBtn{
    min-width: 19vw;
    width: 19vw;
    max-width: 19vw;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    font-size: 22px;
}

.fa{
    font-size: 22px;
    color: #38393c;
}

.far{
    font-size: 22px;
    color: #38393c;
}

.fa{
    font-size: 22px;
    color: #38393c;
}

/* .fa.active{
    color: #4284fb;

} */
.active>li>button>i{
    color: #4284fb;
    font-weight: bold;
    
}
.navActivity {
    font-family: "fontawesome";
    content: '\f08a';
    color: black;
    font-size: 22px;
}
#avatarNavbarBtn{
    padding: 1px;
    max-width: 23px;
    line-height: 50px;
    margin-bottom: -0.21em;
    border-radius: 5em;
    border: solid 2px #38393c;
}

.active>li>button>#avatarNavbarBtn{
    border: solid 2px #4284fb;

    
}
